.notifications__item.notifications__item_comment.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__heading
    h3.notification-heading__name Virgil Abloh 
    span.notification-heading__text  commented your 
    a.notification-heading__link(href="") photo
  .notification__description
    p.notification-description__text Your style is awesome!!
  a.notification__settings
    i.dots
  .notification__panel
    a.notification-panel__reply
      i.reply
    a.notification-panel__like
      i.like
      span.notification-panel-like__counter 11
    span.notification-panel__time 10 hours
