.notifications__item.notifications__item_request.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description
    strong Virgil Abloh 
    a(href="").text-red  
      | has rejected
    span  your request for a battle 
    a(href="").notification__request_accept.btn.btn-green
      span.small Send again
    a(href="").notification__request_decline.btn.btn-red
      span Delete
