.notifications__item.notifications__item_request.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description
    strong Virgil Abloh 
    span sent you a competition request
    a(href="").notification__request_accept.btn.btn-green.btn-active.btn-vc
      span Accepted
