.notifications__item.notifications__item_voted.notifications__item_center.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description
    strong Virgil Abloh 
    span voted your 
    a(href="") photo
  .notification-item-voted__photo
    img(src="#{images}/reply.jpg", alt="")
