- var location = ''
- var images = location + 'svg'


extends index

block content
    .reg__global
    .reg__header.container
        a.reg-header__logo(href="")
            img(src="#{images}/logo.svg", alt="")
        a.reg-header__about(href="#/about") About us
        a.reg-header__login(href="#/signup") Sign up
            
    .reg__info
        h2
            img(src="#{images}/logo-w.svg", alt="Burbl")
            small Find out who like your style!
        ul
            li Share your daily looks
            li Compete with friends
            li Vote for their style
            li Become a favourite
            
    .reg__box
        a.reg__logo(href="")
            img(src="#{images}/logo-w.svg", alt="")
        h1 Log in
        form(action="/login", method="POST")
            input(type="text", ng-model="user.username" name="login", placeholder="Username", required, autofocus)
            input(type="password", ng-model="user.password" name="password", placeholder="Password", required)
            //input(type="image" src="")
            .reg__forgot
                a(href="#/reset") Forgot your password?
            .log__req.cf
                a.btn-reg.btn-req__signin.active(href="" ng-click="login()") Log in
                a.btn-reg.btn-req__reg.tablet-hide(href="#/signup") Sign up
            .log__social
                h4.tablet-hide Log in with:
                h4 Log in with social networks
                ul.cf
                    li
                        a(href="")
                            i.vk
                    li
                        a(href="")
                            i.fb
                    li
                        a(href="")
                            i.tw
                    li
                        a(href="")
                            i.instagram
    .req-login__social
        p 
        ul
            li
                a(href="")
                    i.vk
            li
                a(href="")
                    i.fb
            li
                a(href="")
                    i.tw
            li
                a(href="")
                    i.instagram
                    
            

