

extends index
block content
    script $(document).ready(function(){$('body').addClass('settings');});
    include includes/header
    .main
        .main-container.container
            .main-content.shadowed.container-max
                .settings-box.cf(ng-class="{'settings-edit': isEdit}")
                    .settings-fields
                        h2 Settings
                        .box
                            .settings-fields__name
                                i.person-m
                                span(ng-hide="isEdit") {{name}}
                                input(ng-show="isEdit" ng-model="name" type="text" placeholder="Name and surname")
                            .settings-fields__login
                                i.person-m
                                span(ng-hide="isEdit") {{username}}
                                input(ng-show="isEdit" ng-model="username" type="text" placeholder="Username")
                            .settings-fields__email
                                i.email
                                span(ng-hide="isEdit") {{email}}
                                input(ng-show="isEdit" ng-model="email" type="text" placeholder="Email")
                            .settings-fields__password
                                i.lock
                                span(ng-hide="isEdit") {{password}}
                                input(ng-show="isEdit" ng-model="password" type="password" placeholder="Password")
                            .settings-fields__sync(ng-hide="isEdit")
                                i.sync
                                span Synchronize: 
                                ul.cf
                                    li
                                        a(href="")
                                            i.vk-b
                                    li(ng-click="fb()")
                                        a(href="")
                                            i.fb-b
                                    li
                                        a(href="")
                                            i.tw-b
                                    li
                                        a(href="")
                                            i.instagram-b
                    
                    .information-fields
                        h2 Information
                        .box
                            .information-fields__date
                                i.calend
                                span
                                    | Date of birth: 
                                    strong(ng-hide="isEdit") {{birth.day + '.' + birth.month + '.' + birth.year}}
                                    input(ng-show="isEdit" type="text" ng-model="birth.day")
                                    input(ng-show="isEdit" type="text" ng-model="birth.month")
                                    input(ng-show="isEdit" type="text" ng-model="birth.year")
                            .information-fields__city
                                div
                                    i.city
                                    span 
                                        | City:
                                        strong(ng-hide="isEdit") 
                                            | {{city}}
                                select(ng-show="isEdit" ng-model="city")
                                    option(value="kiev") Kiev
                                    option(value="lviv") Lviv
                                    option(value="odessa") Odessa
                                    option(value="donetsk") Donetsk
                                    option(value="kharkov") Kharkov
                            .information-fields__about(ng-class="{'edit-aboutMe': isEdit}")
                                i.person-m
                                span(ng-hide="isEdit") 
                                    | About me: 
                                    strong
                                        | {{about}}
                                textarea(ng-show="isEdit" name="", cols="30", rows="10" placeholder="About me" ng-model="about")

                            .information-fields__delete(ng-click="delete()" ng-hide="isEdit")
                                i.basket
                                span 
                                    | Delete profile
                            .information-fields__exit(ng-click="logout()" ng-hide="isEdit")
                                i.exit
                                span
                                    | Exit
                        div.text-center-mobile
                            a.btn-settings(ng-hide="isEdit" href="" ng-click="isEdit = true") Edit
                            a.btn-settings(ng-show="isEdit" href="" ng-click="save()") Apply
    include includes/footer

  
