<div class="popup donate">
    <div class="popup-box donate-box">
        <div class="donate-text cf"><span class="donate-description">We don't have advertising, we have abandoned it for your convenience, but thereby depriving us minimum wage to improve Burbl. If you like this project, buy a cup of coffee for us. We will be very thankful :)</span><img
                src="../img/cup.svg" alt="" class="donate-image"/></div>
        <a href="" class="donate-btn" ng-click="doPayment()">Donate</a></div>
</div>