<div class="popup welcome">
    <div class="welcome-box popup-box cf">
        <div class="welcome-head">
            <img class="welcome-top" src="/img/welcome2.png" alt=""/>

            <h2>Welcome to <strong>Burbl</strong></h2>
            <img class="welcome-bottom" src="/img/welcome.png" alt=""/>
        </div>
        <div class="welcome-body">
            <img src="/img/logo-m.svg" alt=""/>

            <p>A new social network about style! Share your looks, compete with friends, estimate people and look how
                people estimate you! Add your first photo and find out "Who likes your style!"</p>
            <a href="" class="btn" ng-click="closePopup()">Get started</a>
        </div>
    </div>
    <style>
        .footer{
            display: none!important;
        }
    </style>
</div>