.notifications__item.notifications__item_voted.notifications__item_center.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description
    strong Virgil Abloh 
    span is now competing! 
    a(href="") Look!
  
