.popup.donate
  .popup-box.donate-box
    .donate-text.cf
      span.donate-description We don't have advertising, we have abandoned it for your convenience, but thereby depriving us minimum wage to improve Burbl. If you like this project, buy a cup of coffee for us. We will be very thankful :)
      img.donate-image(src="#{images}/cup.svg", alt="")
    a.donate-btn(href="") Donate
