.notifications__item.notifications__item_followed.notifications__item_center.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description
    strong Virgil Abloh 
    span likes your style
