.notifications__item.notifications__item_follow.notifications__item_center.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description
    | Your friend 
    strong Virgil Abloh 
    span from "facebook" is using Burbl as 
    a(href="") Virgil Abloh
    a(href="").notification__follow.btn.btn-blue.btn-vc Follow
