.footer
  .footer-container.container
    ul.footer-nav.cf
      li.footer-nav__item.footer-nav-item_home
        a.footer-nav-item__link
          i.f-home.footer-nav-item-link__icon
      li.footer-nav__item.footer-nav-item_photo
        a.footer-nav-item__link
          i.f-photo.footer-nav-item-link__icon
      li.footer-nav__item.footer-nav-item_notification
        a.footer-nav-item__link
          i.f-notification.footer-nav-item-link__icon
      li.footer-nav__item.footer-nav-item_avatar.active
        a.footer-nav-item__link
          i.f-avatar.footer-nav-item-link__icon
