.header.shadowed
  .header-container.container.cf
    .header-search__box
      a.header-search__link(href="#/about")    
        i.search
    .header-menu
      ul.header-menu__nav.cf
        li.header-menu__home.header-menu__item
          a.header-menu-item__link(href="#/")
            i.home
        li.header-menu__image.header-menu__item
          a.header-menu-item__link(href="#/about")
            i.add-image
        li.header-menu__notify.header-menu__item
          a.header-menu-item__link(href="#/about")
            i.bell
        li.header-menu__follow.header-menu__item
          a.header-menu-item__link(href="#/about")
            i.friend
        li.header-menu__settings.header-menu__item
          a.header-menu-item__link(href="#/settings")
            i.settings
    a.header-logo(href="#/")
      i.logo
