.main-header.shadowed
  ul.main-header__nav
    li.main-header__item.main-header__like
      a(href="").main-header-item__link.cf
        i.like
        span.main-header-item__heading Liked
    li.main-header__item.main-header__feedback
      a(href="").main-header-item__link.cf
        i.feedback
        span.main-header-item__heading Feedback
    li.main-header__item.main-header__friends
      a(href="").main-header-item__link.cf
        i.people
        span.main-header-item__heading Friends
    li.main-header__item.main-header__followers
      a(href="").main-header-item__link.cf
        i.followers
        span.main-header-item__heading Followers
