.notifications__item.notifications__item_reply.cf
  a(href="").notification__photo
    img.notification-photo__item(src="#{images}/photo.jpg", alt="")
  .notification__description 
    |	 Your friend 
    strong Virgil Abloh 
    span from «facebook» is using Burbl
    .notification-description__text Your style is awesome!!
  a(href="").notification__settings
    i.dots
  .notification__panel
    a(href="").notification-panel__reply
      i.reply
    a(href="").notification-panel__like
      i.like
      span.notification-panel-like__counter 11
    span.notification-panel__time 10 hours
