@import "../../scss/_variables";
@import "../../scss/_functions";


@media only screen and (max-width : 480px){
    

    i.battle-icon-discuss{
        background-image: url('#{$imagesCssLvl2}/battle-icon-discuss-mobile.svg');
        width: 20px;
        height: 20px;
        
    }
    i.battle-icon-price{
        background-image: url('#{$imagesCssLvl2}/battle-icon-label-mobile.svg');
        width: 20px;
        height: 20px;
        
    }
}