- var location = ''
- var images = location + '../img'


include includes/header
.main
  .main-container.container
    //include includes/main-header
    .main-content.shadowed
      .about
        .block-colored.block-blue
          h2.block-colored__heading What?
          p.block-colored__description 
            | Burbl - new social network about style, which breaks the boundaries of thinking. It is a bit different from social networks you saw before. And it is not about a unique design or the way of supplying. The 
            | thing is emotion. We give you the understanding that you are appreciated. Feeling, that it's you who are liked by strangers and exactly you are chosen by a huge number of people as their favorite. You are a kind of example, you are memorized and known. 
        .block-colored.block-red
          h2.block-colored__heading Why Burbl?
          p.block-colored__description 
            | Burbl - new social network about style, which breaks the boundaries of thinking. It is a bit different from social networks you saw before. And it is not about a unique design or the way of supplying. The 
            | thing is emotion. We give you the understanding that you are appreciated. Feeling, that it's you who are liked by strangers and exactly you are chosen by a huge number of people as their favorite. You are a kind of example, you are memorized and known. 
        .block-colored.block-green
          h2.block-colored__heading Who?
          p.block-colored__description 
            | The team of young developers from different parts of Ukraine from Kharkiv to Lviv united for a common goal, obsessed by one idea. The idea came to life, and we have created something incredible - a social network Burbl!
          
          
include includes/footer
      
