- var location = ''
- var images = location + '../img'

<style>html,body{overflow:hidden; height: 100%;}</style>
.reg__global
.reg__header.container
    a.reg-header__logo(href="#/login")
        img(src="#{images}/logo.svg", alt="")
    a.reg-header__about(href="#/about") About us
    a.reg-header__login(href="#/login") Log in

.reg__info
    h2
        img(src="#{images}/logo-w.svg", alt="Burbl")
        small Find out who like your style!
    ul
        li Share your daily looks
        li Compete with friends
        li Vote for their style
        li Become a favourite

.reg__box
    a.reg__logo(href="")
        img(src="#{images}/logo-w.svg", alt="")
    h1 Sign up
    form(action="")
        input(type="text", ng-model="user.username" name="login", placeholder="Username")
        input(type="text", ng-model="user.email" name="email", placeholder="Email")
        div.pass-block(ng-init="isVisiblePass = false")
            input(type="password", ng-show="!isVisiblePass", class="password-enter", ng-model="user.password" name="password", placeholder="Password")
            input(type="text", ng-show="isVisiblePass", class="password-enter", ng-model="user.password" name="password", placeholder="Password")
            a.show-pass(href="" ng-click="isVisiblePass = !isVisiblePass")
                i.hide-pass
            p(style="color: #ff3636") {{ message }}
        //input(type="image" src="")
        .reg__req.cf
            a.btn-reg.active.btn-req__reg(href="" ng-click="signup()") Sign up
            a.btn-reg.btn-req__login(href="#/login") Log in
.req-login__social
    p Log in with social networks
    ul
        li
            a(href="")
                i.vk
        li
            a(href="")
                i.fb
        li
            a(href="")
                i.tw
        li
            a(href="")
                i.instagram



